<template>
  <svg
    :height='height'
    :width='width'
  >
    <DataCircle
      v-for='c in output'
      :setTooltip='setTooltip'
      :removeTooltip='removeTooltip'
      :data='c'
      :key='c.id'
    />
    <Label
      v-for='c in output'
      :labelData='c'
      :key='c.id + "label"'
      />
     <Tooltip
      v-if='tooltipData.active'
      :tooltipData='tooltipData'
     />
  </svg>
</template>

<script>
import * as d3 from 'd3';
import DataCircle from './DataCircle.vue';
import Label from './Label.vue';
import Tooltip from './Tooltip.vue';

export default {
  name: 'BubbleChart',
  props: ['apiData'],
  components: {
    DataCircle,
    Label,
    Tooltip
  },
  data() {
    return {
      height: 900,
      width: 900,
      tooltipData: { x: 0, y: 0, tags: [], geoData: [], title: '', active: false },
    };
  },
  created() {
    this.colorScale = d3
      .scaleOrdinal()
      .range(['#01ffb4','#FF4377','#f5f553']);
  },
  methods: {
    setTooltip(x, y, tags, geoData, title) {
      if (tags) {
        this.tooltipData = { x, y, tags, geoData, title, active: true };
      }
    },
    removeTooltip() {
      this.tooltipData.active = false;
    },
    packChart() {
      const packChart = d3.pack();
      packChart.size([900, 900]);
      packChart.padding(15);
      const output = packChart(this.packData).descendants();
      return output.map((d, i) => {
        const fill = this.colorScale(d.depth);
        const categoryLabel = d.data.key;
        const geoData = d.data.geo_facet;
        const tags = d.data.des_facet;
        const title = d.data.title;
        return {
          id: i + 1,
          r: d.r,
          x: d.x,
          y: d.y,
          fill,
          categoryLabel,
          geoData,
          tags,
          title,
        };
      });
    }
  },
  computed: {
    packData() {
      const sections = d3
        .nest()
        .key(d => d.section)
        .entries(this.apiData);
      const packableSections = { id: "All Sections", values: sections };
      return d3
        .hierarchy(packableSections, d => d.values)
        .sum(d =>
          d.section ? d.section.length + 1 : 1
        );
    },
    output() {
      return this.packChart();
    }
  }
}
</script>
