<template>
  <circle
    :key='data.id'
    :r='data.r'
    :cx='data.x'
    :cy='data.y'
    :fill='data.fill'
    @mouseenter='tooltipParams'
    @mouseleave='removeTooltip'
  >
</circle>
</template>

<script>
export default {
  name: 'DataCircle',
  props: ['data', 'setTooltip', 'removeTooltip'],
  methods: {
    tooltipParams() {
      this.setTooltip(
        this.data.x,
        this.data.y,
        this.data.tags,
        this.data.geoData,
        this.data.title
      )
    }
  },
};
</script>
