<template>
  <text
    :y='labelData.y'
    :x='labelData.x'
    class='label'
    >
    {{ labelData.categoryLabel }}
  </text>
</template>

<script>
export default {
  name: 'Label',
  props: ['labelData'],
};
</script>

<style>
.label {
  fill: black;
  font-family: 'Merriweather', serif;
  font-size: 1.75rem;
  font-weight: 800;
  text-anchor: middle;
}
</style>
