<template>
  <foreignObject
    :y='tooltipData.y'
    :x='tooltipData.x'
    :width='350'
    :height='500'
  >
    <div class='tooltip'>
      <h4>{{ tooltipData.title }}</h4>
      <p v-if='tooltipData.tags.length' class='bold'>Article tags:</p>
      <p v-if='tooltipData.tags.length' v-for='tag in tooltipData.tags'> {{ tag }}</p>
      <p v-if='tooltipData.geoData.length' class='bold'>Geographical data tags:</p>
      <p v-if='tooltipData.geoData.length' v-for='geo in tooltipData.geoData'> {{ geo }}</p>
    </div>
  </foreignObject>
</template>

<script>
 export default {
  name: 'Tooltip',
  props: ['tooltipData']
 }
</script>

<style>
h4 {
  margin: 0.25rem auto;
  font-family: 'Merriweather', serif;
}
p {
  font-size: 0.75rem;
  margin: 0;
}
svg {
  overflow: visible;
}
.bold {
  font-weight: 800;
  margin: 0.25rem auto;
}
.tooltip {
  text-align: justify;
  background: white;
  border: 0.25rem solid;
  padding: 1rem;
}
</style>
