<template>
  <div id='app'>
    <h1>Top Stories in the NYT as of {{ currentDate }}</h1>
    <div class='intro'>
      <h3>The NYT provides us with a wealth of data, including an archive that dates
      back to 1851. Stories are categorized into sections, and also have associated terms
      and geographical data. For example, a story titled 'DNA Is Solving Dozens of
      Cold Cases. Sometimes It’s Too Late for Justice' will have terms/tags like
    'DNA' and 'Genealogy', and will also have geographical data associated with it,
    like 'Montogmery County' and 'Arkansas', which is where the story developed. </h3>
    </div>
    <BubbleChart :apiData=loadData />
  </div>
</template>

<script>
import * as d3 from 'd3';
import axios from 'axios';
import BubbleChart from './components/Chart.vue';
import * as moment from 'moment';

export default {
  name: 'app',
  components: {
    BubbleChart
  },
  data() {
    return {
      loadData: {},
      currentDate: null
    }
  },
  created() {
    this.currentDate = moment().format('LL');
  },
  mounted() {
    axios
    .get(`https://api.nytimes.com/svc/topstories/v2/science.json?api-key=${process.env.VUE_APP_NYT_API_KEY}`)
      .then(response => this.loadData = response.data.results)
  }
}
</script>

<style lang="scss">
#app {
  font-family: 'Open Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  margin-bottom: 3rem;
}
h1 {
  font-family: 'Merriweather', serif;
  font-weight: 800;
}
.intro {
  margin: 2.5rem;
  text-align: justify;
}
</style>
